.on-table {
	.hovered {
		max-width: 200px;
	}

	div {
		position: relative;
		align-self: flex-end;
		padding: 0 10px;
	}

	img {
		width: 100%;
	}

.id2{
	max-width: 190px;
		margin-bottom: -5px;
	
}


}