.code {
	padding: 10px;
	margin: 20px 30px;
	display: flex;
	background-color: #1d1914;
	line-height: 130%;
	font-size: 14px;
	border-radius: 5px;
	font-family: 'Courier New', Courier, monospace;
}

.css {
	flex: 1 1 50%;
	border: 1px solid #525151;
	border-right: no;

	.content {
		flex: 1 1 auto;
		padding: 5px;
		border-top: 1px solid #525151;
		background-color: #c4c3c3;
		animation-play-state: paused;
	}

	.content.wrong {
		animation: wrong 0.2s infinite;

		@keyframes wrong {
			30% {
				transform: scale(1.01);
			}

			40%,
			60% {
				transform: rotate(-1deg) scale(1.01);
			}

			50% {
				transform: rotate(1deg) scale(1.01);
			}

			70% {
				transform: rotate(0deg) scale(1.01);
			}

			100% {
				transform: scale(1);
			}
		}
	}

	.line-numbers {
		background-color: #a9a6a6;
		border-right: none;
	}

	.description {
		padding: 10px 5px;
		line-height: 130%;
		white-space: pre-wrap;
	}
}

.input {
	padding-right: 15px;
	width: 100%;

	input {
		// min-width: 165px;
		width: 100%;
		padding: 4px 0;
		background-color: #c4c3c3;
		animation: blum 0.5s infinite;

		@keyframes blum {
			0% {
				background-color: #c4c3c3;
			}

			100% {
				background-color: #9dc5ee
			}
		}
	}

}

.header {
	padding: 15px 15px;
	display: flex;
	justify-content: space-between;
	background-color: #37332f;
	font-size: 16px;
}

.name {
	color: #c8c3c3;

}


.file {
	display: flex;
}

.line-numbers {
	padding: 5px 0px 5px 5px;
	text-align: right;
	border-right: 1px solid #525151;
	border-top: 1px solid #525151;
}

.task-content {
	flex: 1 1 auto;
	padding: 5px;
	border-top: 1px solid #525151;

	pre {
		white-space: pre-wrap;
	}
}

.ansver-input {
	display: flex;
	justify-content: space-between;
}



.button {
	border: 1px solid;
	border-bottom: 5px solid;

	button {
		padding: 2px 5px;
		background-color: #a9a6a6;
	}
}



.html {
	flex: 1 1 50%;
	border: 1px solid #525151;
	border-left: none;
}