.picture-wraper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.help {
	cursor: pointer;
	padding: 10px 20px;
	background-color: #1d1914;
	border-radius: 25px;
	font-size: 16px;

	&__window {
		// flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		margin: 20px 0;
		visibility: visible;
		position: relative;
		padding: 20px;
		width: calc(100% - 20%);
		max-width: 700px;
		height: 300px;
		// max-height: fit-content;
		z-index: 10;
		background-color: #c4c3c3;


		transition: all 1s;

	}


	&__window.hiden {
		visibility: hidden;
		height: 0;
		transition: all 1s;

		.help__btn {
			height: 0;
			display: none;
			transition: all 1s;
		}
	}

	&__btn {
		margin-top: 20px;
		cursor: pointer;
		display: block;
		align-self: center;
		width: 100px;
		height: 30px;
		text-align: center;
		line-height: 180%;
		color: #e0e0e0;
		background-color: #878686;
		border-radius: 20px;
		transition: all 1s;
	}

}


.task-declaration {
	font-size: 30px;
	padding: 20px 0 10px 0;
}


.table {
	display: flex;
	align-items: flex-end;
	margin: 0 0 10px 0;
	padding: 0 40px 20px 40px;
	justify-self: flex-end;
	position: relative;

	box-shadow: 0px 40px 10px rgba(0, 0, 0, .2);
	background: #dd992d;
	background: -webkit-linear-gradient(#dd992d, #cd8c26);
	background: linear-gradient(#dd992d, #cd8c26);
	position: absolute;
	height: 100px;
	bottom: 0;
	width: fit-content;
	transform: perspective(260px) rotateX(25deg);
	transform-origin: bottom;

}

.leg {
	width: 24px;
	height: 10px;
	background: #84570f;
}

.leg:nth-child(1) {
	width: 24px;
	height: 10px;
	margin: 0 20% 0px 0;
	background: #84570f;
}

.leg:nth-child(2) {
	margin: 0 0 0px 20%;
	width: 24px;
	height: 10px;
	background: #84570f;
}

.on-table {
	display: flex;
}

.table-legs {
	position: absolute;
	bottom: -10px;
	right: 0px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}