.on-table {
	.hovered {
		max-width: 200px;
	}

	div {
		position: relative;
		align-self: flex-end;
		padding: 0 15px;
	}

	img {
		width: 100%;
	}

	.id1 {
		width: 100px;
		margin-right: 10px;
		margin-left: -10px;
	}


	.id3 {
		position: absolute;
		bottom: 4px;
		left: 32px;
		width: 70px;
		z-index: 10;
	}

	.id4 {

		width: 120px;
	}


}